[default]
aws_access_key_id=ASIAXTRJWMAOZV3YIFOU
aws_secret_access_key=+tU3wC6Buut4RCOlOLqezNdMAdBFYF+Xit+JdPtX
aws_session_token=IQoJb3JpZ2luX2VjEOb//////////wEaCXVzLXdlc3QtMiJHMEUCIDLn/VFz4ml/Frz5XQIMt4si50EOwuO2KgejXcW+F2tIAiEAz0n1ier7054ywQpIAxvNu4iVYsjx/T1TxHEENoiUKc4qsAIILhAAGgw1MjI5OTk3MTc5MTciDM+CL4mQEC9pQz7ehSqNAvBM1O0Vm8LnbTB3AVevb4GdzgSKUA3jtaodaIXG5JTf/LZOOr1vTX9B1IdvxNKkrygm9bPc4sf4AWVkcG7x/6mTRfcPKU6w13D4QhpSLV/cKukHRNKfYaUn9m1H/UQ4m1VH+OJ2svKrDSvxy0HjB9HHx77QXNvLO50MSQkhMN9ZiA8bwrQAldrSCBim6BZj4MCBWDKFLY9Vtakr5o3N/bdSYoOJxbr4aCCahvIzNp7IZCKRhEGWMQiLe3fMSCMgamLsmwR+ylIKCbSe49H4Np9xK4wseFZA4SIlek1zWPNBp2Wix5Sl8AaPlfMCOxFYwVfaqUEUDZz9G6lj9CwshRyb9ZmKNhi/6S1lmpi0MMWBj7EGOp0B2iHdQDUa992L2XareXfT70aJ5Bq82OENDztHMfBB8L/jPcwQp2kd3B+HzmoZ+/lfAyy6VPSknofLcxfq1j6iQW/rTHzTT4m24UEG5zB2d6l7Rg3DAVI6FNoWaH2GZfe+zUgwCBb8bWNQi8F0MsY4FpGUsA2fLMK72L0Z+Vws5K+W7x4aXpIAK9RKZJsot5HQ4+K0W1V2o3/3UuOXZA==
