# file: inventory

[master]
${instances[0].tags.Name} ansible_host=${instances[0].public_dns}

[workers]
%{ for i, instance in instances ~}
%{ if i != 0 }
${instance.tags.Name} ansible_host=${instance.public_dns}
%{ endif }
%{ endfor ~}